.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sidebar {
  height: 100%;
  background-color: #FFFFFF;
  width: 200px;
}

.graphContainer {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphContent {
  width: 95%;
  height: 90%;
  background-color: #FFFFFF;
  padding: 20px;
}

.title {
  text-align: left;
}

.graphInformation {
  display: flex;
  width: 100%;
  height: 100%;
}

.graph {
  flex: 3;
  background-color: white;
  height: 90%;
}

.stadistics {
  flex: 1;
  background-color: hsl(0,0%,90%);
  height: 90%;
  padding: 20px;
}

.graphFilters {
  display: flex;
}

.dropdown {
  margin-right: 48px;
}

.header {
  width: 100%;
}

.displayFilters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-top: 12px;
}

.filter {
  color: #384257;
  background-color: #e7eef3;
  padding: .5rem;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  margin-right: 16px;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
}

.delete {
  margin-left: 8px;
  cursor: pointer;
}

.nav {
  width: 100%;
  border-bottom: 2px solid hsl(0,0%,90%) !important;
  background: none;
	color: inherit;
	border: none;
	padding: 12px 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.graphLine {
  margin-top: 24px;
}
